<div class="room__user__box">
  <p class="<%= message.id %>">
    <span class="room__user__name">
      <%= message.user.name %>
    </span>
  </p>
  <div class="message__flex">
    <p class="<%= message.id %>">
      <%= attachment_image_tag message.user, :profile_image, fallback: "default_image.jpg", class:"room__user__image" %>
      <h7 class="m_content room__user__content"><%= message.content %></h7>
    </p>
  </div>
  <p class="<%= message.id %>">
    <span class="room__user__time"><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></span>
  </p>
</div>

<script>
  var message = <%= message.user.id %>;
  var m_user = document.getElementById('current_user');
  var current_user = m_user.getAttribute('data-id')
  if(message == current_user){
    $('p.' + <%= message.id %>).css('text-align', 'right');
    $('p.' + <%= message.id %>).css('display', 'flex');
    $('p.' + <%= message.id %>).css('flex-direction', 'row-reverse');
  }else{
    $('p.' + <%= message.id %>).css('text-align', 'left');
    $('p.' + <%= message.id %>).css('display', 'flex');
    $('p.' + <%= message.id %>).css('flex-direction', 'row');
  }
</script>