<% @blogs.each do |blog| %>
  <% if @circle.id == blog.circle_id %>
    <%= link_to blog_path(blog) do %>
      <section class="blog">
          <div class="circle__blog">
            <div class="circle__blog__left">
              <div class="circle__blog__image">
                <%= attachment_image_tag blog, :image, fallback: "default_blog_image.jpg" %>
                <div class="circle__blog__like__comment">
                  <div class="circle__blog__like">
                    <% if current_user.already_liked?(blog) %>
                      <%= link_to blog_like_path(blog,blog.id), method: :delete do %>
                        <i class="fas fa-heart like__color"></i>
                      <% end %>
                    <% else %>
                      <%= link_to blog_likes_path(blog), method: :post do %>
                        <i class="far fa-heart"></i>
                      <% end %>
                    <% end %>
                    <%= blog.likes.count %>
                  </div>
                  <div class="blog__comment circle__blog__comment">
                    <i class="far fa-comment"></i>
                    <%= blog.comments.count %>
                  </div>
                </div>
              </div>
            </div>
            <div class="circle__blog__right">
              <div class="blog__title">
                <span>【</span><%= blog.title %><span>】</span>
              </div>
              <div class="circle__blog__content">
                <%= simple_format truncate(blog.content, length:300) %>
              </div>
              <div class="circle__blog__date">
                作成日 : <%= blog.created_at.to_s(:datetime_jp) %>
              </div>
            </div>
          </div>
      </section>
    <% end %>
  <% end %>
<% end %>
