<h1>Blogs#show</h1>
<p>Find me in app/views/blogs/show.html.erb</p>
ブログ詳細

<%= attachment_image_tag @blog, :image, fallback: "default_blog_image.jpg", class: "blog__image" %>
<%= @blog.title %>
<%= simple_format @blog.content %>
<% if @blog.user.id == current_user.id %>
  <%= link_to "編集", edit_blog_path(@blog), class: "btn btn-primary" %>
  <%= link_to "削除", blog_path(@blog), method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: "btn btn-primary" %>
<% end %>

<%= link_to user_path(@blog.user) do %>
  <%= @blog.user.name %>
<% end %>
さんが作成しました
作成日 : <%= @blog.created_at.to_s(:datetime_jp) %>
最終更新 : <%= @blog.updated_at.to_s(:datetime_jp) %>

<div class="comment__list">
  <div class="commnet__title">コメント</div>
  <%= render @blog.comments %>
</div>

<% if current_user.already_liked?(@blog) %>
  <%= link_to blog_like_path(@blog,@blog.id), method: :delete do %>
    <i class="fas fa-heart"></i>
  <% end %>
<% else %>
  <%= link_to blog_likes_path(@blog), method: :post do %>
    <i class="far fa-heart"></i>
  <% end %>
<% end %>
<%= @blog.likes.count %>

<%= render partial: 'comments/form', locals: {comment: @comment} %>