<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= link_to user_path(@user) do %>
      <%= attachment_image_tag @user, :profile_image, fallback: "default_image.jpg", class: "user__image" %>
      <h1><%= @user.name %></h1>
      <% end %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
      <% end %>
    </section>
    <%= render 'follow_form' %>
  </aside>
  <div class="col-md-8">
    <div class="follow_title">
      <h3><%= @title %></h3>
    </div>
    <% if @users.any? %>
      <%= render @users %>
      <%= paginate @users %>
    <% end %>
  </div>
</div>