<section class="section">
  <div class="home">
    <div class="top__text">
      <span>あなたの居場所はここにある</span>
      <span>新しい出会いで 次の価値を創ろう</span>
    </div>
  </div>
</section>
<div class="home__top__space"></div>

<p class="blog__ranking">
  人気の投稿
</p>
<% @blog_ranks.each do |blog| %>
    <%= link_to blog_path(blog) do %>
      <section class="blog">
          <div class="circle__blog">
            <div class="circle__blog__left">
              <div class="circle__blog__image">
                <%= attachment_image_tag blog, :image, fallback: "default_blog_image.jpg" %>
                <div class="circle__blog__like__comment">
                  <div class="circle__blog__like">
                      <%= link_to blog_likes_path(blog), method: :post do %>
                        <i class="far fa-heart"></i>
                      <% end %>
                    <%= blog.likes.count %>
                  </div>
                  <div class="blog__comment circle__blog__comment">
                    <i class="far fa-comment"></i>
                    <%= blog.comments.count %>
                  </div>
                </div>
              </div>
            </div>
            <div class="circle__blog__right">
              <div class="blog__title">
                <span>【</span><%= blog.title %><span>】</span>
              </div>
              <div class="circle__blog__content">
                <%= simple_format truncate(blog.content, length:300) %>
              </div>
              <div class="circle__blog__date">
                作成日 : <%= blog.created_at.to_s(:datetime_jp) %>
              </div>
            </div>
          </div>
      </section>
    <% end %>
<% end %>