<h2>メッセージ一覧</h2>
<% @anotherEntries.each do |e| %>
  <table class="table table-striped">
    <tr>
      <td>
        <%= link_to room_path(e.room.id) do %>
          <%= attachment_image_tag e.user, :profile_image, format: 'jpeg', class: "rounded-circle", fallback: "default_image.jpg", size: "30x30" %>
          <%= e.user.name %>さんからのメッセージです
          <% end %>
      </td>
      <% if false %>
      <td>
        <% m = Message.find_by(id: e.room.message_ids.last).content %>
        <%= truncate(m, length: 10) %>
      </td>
      <% end %>
      <td>
        <h6 style="color: #C0C0C0;"><%= e.updated_at.strftime("%Y/%m/%d %H:%M") %></h6>
      </td>
      <td>
        <%= link_to room_path(e.room.id), method: :delete, data: {confirm: "削除してもよろしいですか？"} do %>
          <i class="fas fa-trash" style="color: black;"></i>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>