<%= render 'shared/error_messages' %>

<section class="section">
  <%= form_for @circle do |f| %>
    <div class="circle__name__form">
      <%= f.label :name, "サークルの名前" %> <span class="circle__name__info">(※30文字以内)</span>
      <%= f.text_field :name, :placeholder => "サークル名", class: 'form-control circle__name' %>
    </div>
    <div id="circle__profile__image">
      <%= attachment_image_tag @circle, :image, fallback: "default_circle_image.jpg", class: "circle__image" %>
      <i class="fas fa-camera circle__image__camera"></i>
    </div>
    <%= f.attachment_field :image %>
    <div class="circle__content__form">
      <%= f.label :content, "活動内容" %><span class="circle__content__info">(※1000文字以内)</span>
      <%= f.text_area :content, :placeholder => "活動内容を記述してください。", class: 'form-control circle__content', rows: 10 %>
    </div>
    <div class="form-group">
      カテゴリ
      <%= f.collection_check_boxes(:category_ids, @kinds, :id, :kind) do |ki| %>
      <div class="form-check">
       <%= ki.label class: 'form-check-label' do %>
         <%= ki.check_box class: 'form-check-input' %>
         <%= ki.text %>
       <% end %>
     </div>
   <% end %>
  </div>
  <div class="form-group">
    活動場所
    <% if false %>
      <%= f.collection_select :category_ids, @places, :id, :place, :include_blank => '指定なし' %>
    <% end %>
    <%= f.collection_check_boxes(:category_ids, @places, :id, :place) do |pl| %>
  <div class="form-check">
    <%= pl.label class: 'form-check-label' do %>
     <%= pl.check_box class: 'form-check-input place__number' %>
     <%= pl.text %>
    <% end %>
     </div>
    <% end %>
  </div>
    <%= f.submit class: "btn btn-outline-primary"%>
  <% end %>
</section>

<!--<script type="text/javascript">-->
<!--(function($){-->
<!--$('input[class="place__number"]').change(function() {-->
<!--var len = $('input[class="place__number"]:checked').length;-->
<!--if (len >= 3) {-->
<!--$('input[class="place__number"]').not(':checked').attr('disabled', 'disabled');-->
<!--} else {-->
<!--$('input[class="place__number"]').not(':checked').removeAttr('disabled');-->
<!--}-->
<!--});-->
<!--});-->
<!--</script>-->