<div class="circle__search">
  <%= search_form_for(@q, url:search_path) do |f|%>
    <div class="circle__search__keyword">
      <%= f.search_field :name_cont, placeholder: "キーワードで検索", class: 'form-control' %><br>
    </div>
    <div class="circle__search__category">
      <%= f.collection_select :categories_id_eq, Category.all, :id, :kind, class: "form-control" %>
    </div>
    <div class="circle__search__place">
      <%= f.select :place_cont, @places, { include_blank: '活動場所を選ぶ'}, { class: 'form-control' } %>
    </div>
    <i class="fas fa-search"><%= f.submit "検索", class: "btn btn-outline-secondary search__btn" %></i>
  <% end %>
</div>

<section class="section">
  <div class="circle__list">
    <% @circles.each do |circle| %>
      <div class="circle__item">
        <div class="circle__top">
          <%= link_to circle_path(circle) do %>
            <%= attachment_image_tag circle, :image, fallback: "default_circle_image.jpg", class: "circle__image" %>
          <% end %>
          <div class="circle__category circle__index__category">
            <% circle.categories.each do |category| %>
              <span class="badge badge-pill badge-info"><%= category.kind %></span>
            <% end %>
            <span class="badge badge-pill badge-place"><%= circle.place %></span>
          </div>
        </div>
        <div class="circle__bottom">
          <%= link_to circle.name, circle_path(circle), class: "circle__bottom__name" %>
          <%= link_to truncate(circle.content, length:200),circle_path(circle), class: "circle__bottom__content" %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<%= paginate @circles %>