<i class="fas fa-angle-double-left faa-passing-reverse animated"></i><%= link_to "一覧へ戻る", circles_path %>

<section class="section">
  <div class="circle__list">
    <% @circles.each do |circle| %>
      <div class="circle__item">
        <div class="circle__top">
          <%= link_to circle_path(circle) do %>
            <%= attachment_image_tag circle, :image, fallback: "default_circle_image.jpg", class: "circle__image" %>
          <% end %>
          <div class="circle__category circle__index__category">
            <% circle.categories.each do |category| %>
              <span class="badge badge-pill badge-info"><%= category.kind %></span>
            <% end %>
          <span class="badge badge-pill badge-place"><%= circle.place %></span>
          </div>
        </div>
        <div class="circle__bottom">
          <%= link_to circle.name, circle_path(circle), class: "circle__bottom__name" %>
          <%= link_to truncate(circle.content, length:200),circle_path(circle), class: "circle__bottom__content" %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<%= paginate @circles %>
