<section class="circle">
  <div class="circle__detail">
    <div class="circle__make__user">
      <%= link_to user_path(@circle.user) do %>
        <%= @circle.user.name %>
      <% end %>
      さんがこのサークルを作成しました<br>
      <% if @circle.user_id != current_user.id %>
        <i class="far fa-hand-point-up faa-vertical animated"></i>
        気になったらメッセージを送ってみよう</i>
      <% end %>
    </div>
    <div class="circle__info">
      <div class="circle__name">
        <%= @circle.name %>
      </div>
      <div class="circle__category">
        <% @circle.categories.each do |category| %>
          <span class="badge badge-pill badge-info"><%= category.kind %></span>
        <% end %>
      </div>
      <span class="badge badge-pill badge-place"><%= @circle.place %></span>
    </div>
    <div id="circle__profile__image">
      <%= attachment_image_tag @circle, :image, fallback: "default_circle_image.jpg", class: "circle__image" %>
    </div>
    <div class="circle__content">
      <%= simple_format @circle.content %>
    </div>
    <% if @circle.user.id == current_user.id || current_user.admin? %>
      <%= link_to "編集", edit_circle_path(@circle), class: "btn btn-outline-primary" %>
      <%= link_to "削除", circle_path(@circle), method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</section>

<% if @circle.user.id == current_user.id %>
  <%= render partial: 'blogs/form', locals: {blog: @blog} %>
<% end %>

<%= render partial: 'blogs/blog', locals: {blog: @blog} %>
