<section class="circle">
  <div class="circle__detail">
    <div class="circle__make__user">
      <%= link_to user_path(@circle.user) do %>
        <%= @circle.user.name %>
      <% end %>
      さんがこのサークルを作成しました
    </div>
    <div class="circle__info">
      <div class="circle__name">
        <%= @circle.name %>
      </div>
      <div class="circle__category">
        <% @circle.categories.each do |category| %>
          <span class="badge badge-pill badge-info"><%= category.kind %></span>
          <span class="badge badge-pill badge-place"><%= category.place %></span>
        <% end %>
      </div>
    </div>
    <div id="circle__profile__image">
      <%= attachment_image_tag @circle, :image, fallback: "default_circle_image.jpg", class: "circle__image" %>
    </div>
    <div class="circle__content">
      <%= simple_format @circle.content %>
    </div>
    <% if @circle.user.id == current_user.id %>
      <%= link_to "編集", edit_circle_path(@circle), class: "btn btn-primary" %>
      <%= link_to "削除", circle_path(@circle), method: :delete, data: {confirm: "削除してもよろしいですか？"}, class: "btn btn-danger" %>
    <% end %>
  </div>
</section>

<% if @circle.user.id == current_user.id %>
  <%= render partial: 'blogs/form', locals: {blog: @blog} %>
<% end %>

<% @blogs.each do |blog| %>
  <% if @circle.id == blog.circle_id %>
    <%= link_to blog_path(blog) do %>
      <section class="blog">
          <div class="circle__blog">
            <div class="circle__blog__left">
              <div class="circle__blog__image">
                <%= attachment_image_tag blog, :image, fallback: "default_blog_image.jpg" %>
                <div class="circle__blog__like__comment">
                  <div class="circle__blog__like">
                    <% if current_user.already_liked?(blog) %>
                      <%= link_to blog_like_path(blog,blog.id), method: :delete do %>
                        <i class="fas fa-heart like__color"></i>
                      <% end %>
                    <% else %>
                      <%= link_to blog_likes_path(blog), method: :post do %>
                        <i class="far fa-heart"></i>
                      <% end %>
                    <% end %>
                    <%= blog.likes.count %>
                  </div>
                  <div class="blog__comment circle__blog__comment">
                    <i class="far fa-comment"></i>
                    <%= blog.comments.count %>
                  </div>
                </div>
              </div>
            </div>
            <div class="circle__blog__right">
              <div class="blog__title">
                <span>【</span><%= blog.title %><span>】</span>
              </div>
              <div class="circle__blog__content">
                <%= simple_format truncate(blog.content, length:300) %>
              </div>
              <div class="circle__blog__date">
                作成日 : <%= blog.created_at.to_s(:datetime_jp) %> 
              </div>
            </div>
          </div>
      </section>
    <% end %>
  <% end %>
<% end %>
