<h1>Circles#show</h1>
<p>Find me in app/views/circles/show.html.erb</p>
サークル詳細

<% @circle.categories.each do |category| %>
  <span class="badge badge-primary"><%= category.kind %></span>
  <span class="badge badge-primary"><%= category.place %></span>
<% end %>


<section class="section">
  <div class="container">
    <div class="circle__detail">
      <%= link_to user_path(@circle.user) do %>
        <%= @circle.user.name %>
      <% end %>
      さんがこのサークルを作成しました
      <%= attachment_image_tag @circle, :image, fallback: "default_circle_image.jpg", class: "circle__image" %>
      <div class="circle__name">
        <%= @circle.name %>
      </div>
      <div class="circle__content">
        <%= simple_format @circle.content %>
      </div>
      <% if @circle.user.id == current_user.id %>
        <%= link_to "編集", edit_circle_path(@circle), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</section>


